
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>serkan bahtiyar</title>
    @*<link rel="stylesheet" href="~/sb/Table-Loading-Animation-main/style.css">*@
</head>
<body>
    @RenderBody()
</body>
</html>